<footer>
  <div class="footer-container">
    <div class="logo">
      <img src="images/logo.png" alt="logo" />
    </div>

    <div class="links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/commingpages">Discovery</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/commingpages">Photos</a></li>
      </ul>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/commingpages">Help</a></li>
        <li><a href="/commingpages">Terms</a></li>
        <li><a href="/commingpages">Guidlines</a></li>
      </ul>
      <ul class="econimic-links">
        <li><a href="/commingpages">Testimonials</a></li>
        <li><a href="/commingpages">Advertise</a></li>
        <li><a href="/commingpages">Integrations</a></li>
        <li><a href="/commingpages">Careers</a></li>
      </ul>
    </div>

    <form class="search-form">
      <div class="form-wraper">
        <input type="text" placeholder="Email" />
        <button><i class="fas fa-paper-plane"></i></button>
      </div>
      <p>Stay in touch with us for the freshest products!</p>
    </form>

    <ul class="social-links">
      <li>
        <a href="https://www.facebook.com/IbrahimAidaruz"
          ><i class="fab fa-facebook-f"></i
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com/ibrahimaidaruz/"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ibrahim-aidaruz-946857188/"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/IbrahimAidaruz"
          ><i class="fab fa-twitter"></i
        ></a>
      </li>
    </ul>
  </div>
</footer>
