<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header") -%>
  <body>
    <%- include("partials/navbar") -%>

    <section class="error">
      <h1>404</h1>
      <h3>OPPS! PAGE NOT FOUND</h3>
      <P
        >Sorry , the page you're looking for doesn't exist.if you think
        something is broken report a problem</P
      >
      <div class="btn">
        <button>
          <a href="/"><i class="fa fa-home"></i>return home</a>
        </button>
        <button>
          <a href="/">report problem</a>
        </button>
      </div>
    </section>

    <%- include("partials/footer")%>
  </body>
</html>
