<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header") -%>
  <body>
    <%- include("partials/navbar") -%>
    <main class="about">
      <div class="about-news">
        <div class="news-banner">
          <div>
            <h2>World news</h2>
            <hr />
            <h3>Lorem, ipsum dolor sit amet consectetur.</h3>
            <p>
              Quibusdam quas facilis repellat praesentium nam, impedit obcaecati
              porro aut voluptatum sapiente ullam? Nemo saepe quam eum fugiat,
              dignissimos illum corporis quisquam vel,
            </p>
            <button>Learn More</button>
          </div>
        </div>
        <div class="news-info">
          <h2>More news</h2>
          <hr />
          <div>
            <h3>Travel</h3>
            <h5>Volunteer Travel</h5>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s.....
            </p>
            <p class="time"><i class="far fa-clock"></i> 2 min ago</p>
          </div>
          <div>
            <h3>Technology</h3>
            <h5>Data Science</h5>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s.....
            </p>
            <p class="time"><i class="far fa-clock"></i> 20 min ago</p>
          </div>
        </div>
      </div>
      <div class="about-treding">
        <h2>Treding</h2>
        <div class="treding">
          <div>
            <img src="images/holidy.jpg" alt="The Package Holiday" />
            <div class="info">
              <h4>The Package Holiday</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Temporibus error neque ea quo aliquam tenetur.
              </p>
              <p class="time"><i class="far fa-clock"></i>3 min ago</p>
            </div>
          </div>
          <div>
            <img src="images/travel.jpg" alt="Long Term Slow Travel" />
            <div class="info">
              <h4>Long Term Slow Travel</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Temporibus error neque ea quo aliquam tenetur.
              </p>
              <p class="time"><i class="far fa-clock"></i>8 min ago</p>
            </div>
          </div>
          <div>
            <img src="images/tour.jpg" alt="The Group Tour" />
            <div class="info">
              <h4>The Group Tour</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Temporibus error neque ea quo aliquam tenetur.
              </p>
              <p class="time"><i class="far fa-clock"></i>5 min ago</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include("partials/footer")%>
  </body>
</html>
