<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header") -%>
  <body>
    <%- include("partials/navbar") -%>

    <section class="error">
      <h3>OPPS! PAGE NOT CREATED YET!</h3>
      <P
        >Sorry , the page you're looking for doesn't exist.This page is still
        being written.
      </P>
      <div class="btn">
        <button>
          <a href="/"><i class="fa fa-home"></i>return home</a>
        </button>
      </div>
    </section>

    <%- include("partials/footer")%>
  </body>
</html>
