<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header") -%>
  <body>
    <%- include("partials/navbar") -%>
    <main>
      <div class="container-wrapper">
        <div class="container">
          <h1>Welcome to Node Bootcamp</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi,
            temporibus neque maxime tempora, accusamus, magnam rerum optio
            asperiores alias repellat recusandae ad! Hic magni doloribus ducimus
            quasi et magnam nisi aperiam natus dignissimos, totam saepe optio
            quam culpa animi perferendis!
          </p>
          <button><a href="/signup">get started</a></button>
        </div>
        <div class="banner">
          <img src="images/banner.png" alt="" srcset="" />
        </div>
      </div>
    </main>

    <%- include("partials/footer")%>
  </body>
</html>
