<%- include("../partials/header")-%>
<body>
  <%- include("../partials/navbar") -%>

  <div class="form-container">
    <div class="btn-container">
      <button class="btn-tab active" data-id="Login">
        <a href="/login">Login</a>
      </button>
      <button class="btn-tab" data-id="signup">
        <a href="/signup">Sign up</a>
      </button>
    </div>
    <form action="" novalidate autocomplete="off">
      <div class="wraper">
        <input
          type="email"
          name="email"
          placeholder=" "
          required
          class="form_input"
        />
        <label for="email" class="form__label">Email </label>
        <div class="error email"></div>
      </div>
      <div class="wraper">
        <input
          type="password"
          name="password"
          placeholder=" "
          class="form_input"
          required
        />
        <label for="password" class="form__label">Password</label>
        <div class="error password"></div>
      </div>

      <div class="btn">
        <button type="submit"><i class="fas fa-paper-plane"></i>Login</button>
      </div>
    </form>
  </div>

  <%- include("../partials/footer")-%>
  <script src="scripts/login.js"></script>
</body>
